body {
  background-color: rgb(255, 255, 255);
  font-family: "Nunito", sans-serif;
  margin: 0;
  /* background: url("../images/animebackground.jpg"); */
  background-size: cover;
}
.logo-loja {
  position: absolute;
  top: 78px;
  left: 47rem;
  width: 30px;
  height: 30px;
  /* background: url("../images/fofa.png") top left; */
  background-size: cover;
  z-index: 1000;
}
.header-top {
  background-color: #b089f0;
  padding: 50px;
  overflow: hidden;
}
#btn-pesquisar {
  position: absolute;
  left: 24rem;
  top: 80px;
  border: none;
  border-radius: 5px;
  opacity: 0.8;
}
#campo-pesquisa {
  opacity: 0.7;
  border-radius: 9px;
  border: none;
  height: 26px;
  width: 250px;
  margin-left: 14px;
}
#btn-login {
  position: absolute;
  right: 28rem;
  top: 78px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.titulo-loja {
  text-align: center;
  opacity: 0.6;
  text-shadow: yellow;
  color: blue;
}

.banner-adv {
  text-align: center;
  margin-top: 20px;
}
.promo {
  opacity: 0.9;
}
.container-head {
  overflow: hidden;
}
.container-principal {
  margin: 30px 400px; /*top, right, bottom, left*/
  padding: 30px;
  border: 1px solid;
  border-color: #b6b3f2;
  border-radius: 20px;
  background-color: rgba(240, 248, 255, 0.541);
}
.container-cards {
  display: flex;
  /* justify-content: center; */
  margin-top: 20px;
  justify-content: space-between;
}

.card {
  /* margin: 0px; */
  border: 1px solid;
  border: none;
  width: 215px;
  height: 306px;
  border-radius: 10px;
  background-color: rgba(245, 245, 220, 0.603);
  text-align: center;
  cursor: pointer;
}
.titulo-produto {
  margin-top: 40px;
}
.link-paginicial:link,
.link-paginicial:visited {
  color: black;
  text-decoration: none;
}
.link-paginicial:hover {
  text-decoration: underline;
}
img.thumbnail {
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 50%;
}
.thumbnail:hover {
  transform: scale(1.2);
  opacity: 1;
}
footer {
  background-color: #b6b3f2;
  overflow: hidden;
  text-align: center;
}

.footer-info {
  /* display: inline-block; */
  padding: 20px;
  margin: 10px 10px;
}

.lista-info {
  padding: 0;
}

.info-redes {
  display: inline-block;
  margin: 9px;
}
